extends ../../_layoutNiveauDuJour.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Février
        - var path = "eternalfest/niveauDuJour/fevrier"
        br
        br
        +lvl(path, 1, 3, "Antre impur d'Arte")
        +lvl(path, 4, 10, "Passages cavernicoles en pandémonium")
        +lvl(path, 11, 17, "Citadelles berlinmauves des pixels")
        +lvl(path, 18, 24, "Salles personnelles du Croque Motel")
        +lvl(path, 25, 29, "Faille framboisée de Deep")
        include ../../includes/_br