extends ../../_layoutNiveauDuJour.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Janvier
        - var path = "eternalfest/niveauDuJour/janvier"
        br
        br
        +lvl(path, 1, 6, "Cirques maudits des Mondes Ardus")
        +lvl(path, 7, 13, "Ruines libérées, délivrées")
        +lvl(path, 14, 20, "Steppes curieuses")
        +lvl(path, 21, 27, "Gites secs de l'encyclopéfruit")
        +lvl(path, 28, 31, "Antre impur d'Arte")
        include ../../includes/_br