extends ../../_layoutNiveauDuJour.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Mai
        br
        br
        - var path = "eternalfest/niveauDuJour/mai" 
        +lvl(path, 1, 5, "Les Cavités prohibées")
        +lvl(path, 6, 12, "Retraites graciées d'Hammerfest")
        +lvl(path, 13, 19, "Écoles arithmético-géométriques des Rocky")
        +lvl(path, 20, 26, "Parasites Toundras")
        +lvl(path, 27, 31, "Ziggourats naturachimiques de Cilorile")
        include ../../includes/_br
