extends ../../_layoutNiveauDuJour.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Mars
        - var path = "eternalfest/niveauDuJour/mars"
        br
        br
        +lvl(path, 1, 3, "Faille framboisée de Deep")
        +lvl(path, 4, 10, "Villages actuels de l'apprenti")
        +lvl(path, 11, 17, "Les oasis naturalchimiques des murlocs")
        +lvl(path, 18, 24, "Pays maudits des dieux déchus")
        +lvl(path, 25, 31, "Cité déshydratée sans commentaire")
        include ../../includes/_br
