extends ../../_layoutNiveauDuJour.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Octobre
        br
        br
        - var path = "eternalfest/niveauDuJour/octobre" 
        +lvl(path, 0, 31, "?")
        include ../../includes/_br