mixin genLand(path, name, difficulty, realName)
    .landGlobal
        if (realName == undefined)
            a(href="/contrees"+path, title=difficulty+"/10")
                .landTitle
                    +genLandTitle(name)
                .landImage
                    +genLandImage(path, realName)
        else
            a(href="/contrees"+realName+path, title=difficulty+"/10")
                .landTitle
                    +genLandTitle(name)
                .landImage
                    +genLandImage(path, realName)

mixin genLandTitle(name)
    p.landTitleWritten #{name}

mixin genLandImage(path, realName)
    if (realName !== undefined)
        img(src="levels/"+realName+path+"/image.png", onerror="this.src='/levels/officialfest/min/unknown.png';", width="196px", height="196px")
    else
        img(src="levels/"+path+"/image.png", onerror="this.src='/levels/officialfest/min/unknown.png';", width="196px", height="196px")

mixin genDifficulty(difficulty)
    p #{difficulty}/10
