mixin nivGen(path, Start, number, name, lvlPath, secondPoint, modif)
    - for (var nbStart = Start; nbStart <= number; nbStart++)
        if modif !== undefined
            +nivSort(path, nbStart+modif, name, lvlPath, secondPoint)
        else
            +nivSort(path, nbStart, name, lvlPath, secondPoint)

mixin nivSort(path, level, name, lvlPath, secondPoint)
    if lvlPath !== undefined && lvlPath !== ""
        if secondPoint !== undefined && secondPoint !== ""
            if lvlPath < 10
                +nivLink(path, "00"+lvlPath+secondPoint+level, name, lvlPath+secondPoint+level)
            else if lvlPath > 9 && lvlPath < 100
                +nivLink(path, "0"+lvlPath+secondPoint+level, name, lvlPath+secondPoint+level)
            else
                +nivLink(path, lvlPath+secondPoint+level, name, lvlPath+secondPoint+level)
        else if secondPoint == undefined || secondPoint == ""
            if lvlPath < 10
                +nivLink(path, "00"+lvlPath+level, name, lvlPath+level)
            else if lvlPath > 9 && lvlPath < 100
                +nivLink(path, "0"+lvlPath+level, name, lvlPath+level)
            else
                +nivLink(path, lvlPath+level, name, lvlPath+level)
    else
        if level < 10
            +nivLink(path, "00"+level, name, level)
        else if level > 9 && level < 100
            +nivLink(path, "0"+level, name, level)
        else
            +nivLink(path, level, name, level)

mixin nivLink(path, level, name, rawLevel)
    a(href="/contrees/" + path + "/" + rawLevel)
        +nivImage("/levels/" + path + "/min/" + level + ".png", level, name)

mixin nivImage(path, level, name)
    - var numLvl = path.split("/min/")
      
    if name !== undefined
        img.minia(src=path, onerror="this.src='/levels/officialfest/min/unknown.png';", alt=level, title=name + " - " + level, width="100px", height="119px")
    else
        img.minia(src=path, onerror="this.src='/levels/officialfest/min/unknown.png';", alt=level, title=level, width="100px", height="119px")

mixin imageWithFallback(path, alt, name)
  - var numLvl = path.split("/min/")
  if name !== undefined
    img.minia(src=path, alt="unknown", onerror="this.src='/levels/officialfest/min/unknown.png';", title=name + " - " + alt, width="100px", height="119px")
  else
    img.minia(src=path, alt="unknown", onerror="this.src='/levels/officialfest/min/unknown.png';", title=alt, width="100px", height="119px")


mixin dimEntranceGen(path, dimPath, rawLevel)
  a(href="/contrees/" + path + "/" + rawLevel)
    +imageWithFallback("/levels/" + path + "/min/" + dimPath + ".png", dimPath)

mixin dimLevelGen(path, levelPath, name, rawLevel)
  a(href="/contrees/" + path + "/" + rawLevel)
    +imageWithFallback("/levels/" + path + "/min/" + levelPath + ".png", levelPath, name)

mixin dimEntranceGen0(path, dimPath, dim)
  if dim < 10
    +dimEntranceGen(path, "00" + dim + dimPath, dim + dimPath)
  else if dim > 9 && dim < 100
    +dimEntranceGen(path, "0" + dim + dimPath, dim + dimPath)
  else
    +dimEntranceGen(path, dim + dimPath, dim + dimPath)

mixin dimLevelGen0(path, dimPath, dim, level, name)
  if dim < 10
    +dimLevelGen(path, "00" + dim + dimPath + "." + level, name, dim + dimPath + "." + level)
  else if dim > 9 && dim < 100
    +dimLevelGen(path, "0" + dim + dimPath + "." + level, name, dim + dimPath + "." + level)
  else
    +dimLevelGen(path, + dim + dimPath + "." + level, name, dim + dimPath + "." + level)

mixin dimGen(path, dimPath, dim, dimLevels, name)
  br
  br
  br
  br
  if name != undefined
    if dimPath != undefined
      p Dimension #{dim}#{dimPath} - #{name}
    else
      p Dimension #{dim} - #{name}
  .Niv
    +dimEntranceGen0(path, dimPath, dim)
    .eloi
      - for (let level = 0; level < dimLevels; level++)
        +dimLevelGen0(path, dimPath, dim, level, name)

//- Used for pds which ain't linear (like the official game's pd33)
mixin dimGenSpecial(path, dimPath, dim, levels, levelsZ, name)
  br
  br
  br
  br
  if name != undefined
    if dimPath != undefined
      p Dimension #{dim}#{dimPath} - #{name}
    else
      p Dimension #{dim} - #{name}
  .Niv
    +dimEntranceGen0(path, dimPath, dim)
    .eloi
      for level, ind in levels
        +dimLevelGen(path, levelsZ[ind], name, level)



mixin split2Dim(path, lvlPath, lvl, name, nbLvl1, name1, modif1, nbLvl2, name2, modif2)
  br
  br
  br
  .mil
    p Dimension #{lvlPath}#{lvl}
    +nivGen(path, lvl, lvl, name, lvlPath)
  .niveaux2D
    .gauche
      p Dimension #{lvlPath}#{lvl} #{modif1} - #{name1}
      br
      +nivGen(path, 0, nbLvl1, name1, lvlPath, lvl+modif1)
      br
      br
    .droite
      p Dimension #{lvlPath}#{lvl} #{modif2} - #{name2}
      br
      +nivGen(path, 0, nbLvl2, name2, lvlPath, lvl+modif2)
  



mixin genLaby(path, nbStartX, numberEndX, nbStartY, numberEndY, name, lvl, lvlPath, nbHere)
  br
  br
  +labyGeneration(path, nbStartX, numberEndX, nbStartY, numberEndY, name, lvl, lvlPath, nbHere)

mixin labyGeneration(path, nbStartX, numberEndX, nbStartY, numberEndY, name, lvl, lvlPath, nbHere)
  if (nbStartX < 0)
    if (numberEndX < 0)
      -var nbX = -nbStartX-numberEndX
    else
      -var nbX = -nbStartX+numberEndX
  else
    if (numberEndX < 0)
      -var nbX = nbStartX-numberEndX
    else
      -var nbX = nbStartX+numberEndX

  if (nbStartY < 0)
    if (numberEndY < 0)
      -var nbY = -nbStartY-numberEndY
    else
      -var nbY = -nbStartY+numberEndY
  else
    if (numberEndY < 0)
      -var nbY = nbStartY-numberEndY
    else
      -var nbY = nbStartY+numberEndY

  - var wX = 100
  - var wY = 119
  if nbX > 10
    - wX = 1/(nbX)*1000
    - wY = wX*119/100

  .laby
    table.labyrinthe
      - for(var i = nbStartY; i < numberEndY ; i++)
        tr
          - for(var j = nbStartX; j < numberEndX ; j++)
            td.levelLaby(width=wX+"px", height=wY+"px")
              - var found = false
              for isHere in nbHere
                if (isHere[0] == j && isHere[1] == i)
                  - found = true
              if (found == true)
                - var curLevel = lvl+lvlPath+"("+j+";"+i+")"
                a(href="/contrees/"+path+"/"+curLevel)
                  if lvl < 10
                    img.minia(src="/levels/"+path+"/min/"+"00"+curLevel+".png", onerror="this.src='/levels/officialfest/min/unknown.png';", title=name + " - " +curLevel, width=wX+"px", height=wY+"px")
                  else if lvl > 99
                    img.minia(src="/levels/"+path+"/min/"+curLevel+".png", onerror="this.src='/levels/officialfest/min/unknown.png';", title=name + " - " +curLevel, width=wX+"px", height=wY+"px")
                  else
                    img.minia(src="/levels/"+path+"/min/"+"0"+curLevel+".png", onerror="this.src='/levels/officialfest/min/unknown.png';", title=name + " - " +curLevel, width=wX+"px", height=wY+"px")
      