extends ../../_layout.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
block content
    .eter
        -var path = "eternalfest/templeOublie"
        h1 Le Temple Oublié, le Puits
        br
        +lvl(path, 0, 1, "???")
        +lvl(path, 2, 9, "cachette des gardiens")
        +lvl(path, 10, 17, "Safari des Framboijules")
        +lvl(path, 18, 23, "Umbrella bonus")
        
        include ../../includes/_br.pug