extends ../../_layout.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var path = "eternalfest/templeOublie"
        h1 Le Temple Oublié, le Tunnel Sans Fin
        br
        - level = [[0, 0], [0, 1], [-5, 1], [-4, 1], [-3, 1], [-2, 1], [-1, 1], [1, 1], [2, 1], [3, 1], [4, 1], [5, 1], [6, 1], [7, 1], [8, 1], [9, 1], [10, 1], [-2, 2], [1, 2], [2, 2], [3, 2], [4, 2], [5, 2], [6, 2], [9, 2], [10, 2], [11, 2], [12, 2], [13, 2], [14, 2], [-2, 3], [2, 3], [3, 3], [4, 3], [6, 3], [9, 3], [11, 3], [12, 3], [14, 3], [15, 3], [16, 3], [17, 3], [-4, 4], [-3, 4], [-2, 4], [-1, 4], [0, 4], [1, 4], [3, 4], [4, 4], [6, 4], [11, 4], [12, 4], [15, 4], [17, 4], [-3, 5], [-1, 5], [0, 5], [1, 5], [3, 5], [6, 5], [15, 5], [17, 5], [-3, 6], [-2, 6], [-1, 6], [0, 6], [1, 6], [2, 6], [3, 6], [17, 6], [-3, 7], [0, 7], [1, 7], [17, 7], [0, 8], [1, 8], [17, 8], [1, 9], [16, 9], [17, 9], [18, 9], [1, 10], [2, 10], [17, 10], [1, 11]]
        +genLaby(path, -5, 19, 0, 12, "Le Tunnel Sans Fin...", 2, ".0.89.20.", level)
        +dim(path, ".0.89.20.(1;9)", 2, 11, "Le temple des épreuves")
        +dim(path, ".0.89.20.(18;9)", 2, 4)
        include ../../includes/_br.pug