doctype html
html
  head(prefix="og: http://ogp.me/ns#")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    block title
      title Help Hammerfest !
    if title && images && images[0]
      meta(property="og:title" content=title + " - Help Hammerfest !")
      meta(property="og:type" content="article")
      meta(name="twitter:card" content="summary_large_image")
      meta(property="og:image" content=serverUrl + images[0])
      meta(property="og:image:width" content="420")
      meta(property="og:image:height" content="500")
    link(rel="icon", type="image/png", href="/img/favicon.png")
    link(rel="stylesheet", href="/index.css")
  body
    p.version= 'v' + process.env.npm_package_version
    nav
      ul
        li.menu-techniques
          a(href="/techniques") Techniques
          ul.submenu
            li
              a(href="/techniques/techniquesDeBase") Techniques de base
            li
              a(href="/techniques/techniquesAvancees") Techniques Avancées
        li.menu-regles
          a(href="/regles") Règles
          ul.submenu
            li
              a(href="/regles/cristaux")
                img(src="/img/items/misc/11.svg", alt="Cristal1")
                |  Les Cristaux
            li
              a(href="/regles/lettres")
                img(src="/img/items/misc/2.svg", alt="R")
                |  Les Lettres
            li
              a(href="/regles/fonctionnalites")
                img(src="/img/items/8.svg", alt="fonctionnalites")
                |  Les Fonctionnalités
            li
              a(href="/regles/bugs")
                img(src="/img/fruits/tzongre.svg", alt="bugs")
                |  Les Bugs
        li.menu-ennemis
          a(href="/ennemis") Ennemis
          ul.submenu
            li
              a(href="/ennemis/fruits") Les Fruits
            li
              a(href="/ennemis/boss")
                img(src="/img/fruits/Blob1.png")
                |  Les Boss
        li.menu-objets
          a(href="/objets") Objets
          ul.submenu
            li
              a(href="/objets/familles")
                img(src="/img/items/1000.svg").item
                |  Les familles
            li
              a(href="/objets/quetes")
                img(src="/img/items/40.svg").item
                |  Les quêtes
            li
              a(href="/objets/coeff")
                img(src="/img/items/98.svg").item
                |  Coefficients
            li
              a(href="/objets/cles")
                img(src="/img/sprites/Serrure/serrure.png", alt="Serrure")
                |  Les Clés
            li
              a(href="/objets/pads")
                img(src="/img/items/1202.svg", alt="Pad")
                |  Les Pads
        li.menu-niveaux
          a(href="/contrees") Contrées
        li.menu-creations
          a(href="/creations") Créations
          ul.submenu
            li
              a(href="/creations/niveaux")
                img(src="/img/items/4.svg")
                |  Niveaux
            li
              a(href="/creations/musiques")
                img(src="/img/items/21.svg")
                |  Musiques
            li
              a(href="/creations/concours")
                img(src="/img/items/28.svg")
                |  Concours
            li
              a(href="/creations/outils")
                img(src="/img/items/85.svg")
                |  Outils
        li.menu-thanks
          a(href="/remerciements") Remerciements
        li.menu-retour
          block retour
            retour
            a(href=RETOUR || "/") Retour
    block content
