extends _layout.pug

block title
    title Niveau #{firstPart+endPart} - Help Hammerfest !

block retour
    - var newTab = firstPart.split(".")
    - newTab.splice(newTab.length-1)
    if(newTab.length > 1)
        a(href=newTab.join(".")) Retour
    else
        a(href="/contrees/"+land) Retour

block content
    .text
        h1 Niveau #{firstPart+endPart}
        - var trouve = false
        - var prev = false
        - var next = false
        - var prevDim = false
        - var nextDim = false
        - var definedNext
        - var definedPrev
        - var definedDims

        - var newTab = firstPart.split(".")
        - newTab.splice(newTab.length-1)

        - var currentLev = firstPart+endPart

        each level in levels[land]

            if (level['niveau'] == currentLev)
                - trouve = true
                - var indexLvl = level['niveau']

                if (level['next'] !== undefined)
                    - definedNext = level['next']
                if (level['prev'] !== undefined)
                    - definedPrev = level['prev']
                if (level['dims'] !== undefined)
                    - definedDims = level['dims']


            if(!isLaby)
                if (level['niveau'] == firstPart+(endPart-1))
                    - prev = true
                if (level['niveau'] == firstPart+(++endPart))
                    - next = true
                - endPart--

        if (trouve)
            h2
                if(firstPart !== "")
                    if(prev != true)
                        - prevDim = true
                    if(next != true)
                        each level in levels[land]
                            - ++newTab[newTab.length-1]
                            if (level['niveau'] == newTab.join("."))
                                - nextDim = true
                            - --newTab[newTab.length-1]
                        
                if (!isLaby)
                    +getPaths(prev, next, trouve, prevDim, nextDim, newTab, definedNext, definedPrev)
                else
                    +getPathsForLaby(trouve, newTab, definedNext, definedPrev, definedDims)

                
                


                each level in levels[land]
                    if level['niveau'] == firstPart+endPart
                        if level['dims'] !== undefined
                            each dim in level['dims']
                                .line
                                    a(href=dim) < Dimension #{dim} >

        
        .parDivNiv
            .divdivImg

                - var path = "/levels/"+land
                - var zeros = ""

                if (startLvl < 10)
                    - zeros = "00"
                else if (startLvl < 100)
                    - zeros = "0"

                - var imagePath = path+"/"+zeros+firstPart+endPart+".png";
                
                img(src=imagePath, onerror="this.src='/levels/officialfest/unknown.png';" alt="", class="imgNiv", height="500px", width="420px")
                

            .divNiv
                .text-description !{content}
                if video !== undefined
                    iframe(width="560", height="315", src=video, frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)


//- Paths for the Labys
mixin getPathsForLaby(trouve, newTab, definedNext, definedPrev, definedDims)
    
    - endPart = endPart.join("")
    - var semicolon = endPart.split(";")
    - var X = semicolon[0].split("(")
    - X = X.join("")
    - var Y = semicolon[1].split(")")
    - Y = Y.join("")
    - var hasPrev = false

    if (definedPrev == undefined)
        each level in levels[land]
            if (level['niveau'] == firstPart+"("+X+";"+(Y-1)+")")
                a(href=firstPart+"("+X+";"+(Y-1)+")") <<< Niveau Précédent
                - hasPrev = true
    else
        a(href=definedPrev) <<< Niveau Précédent
        - hasPrev = true

    
    
    if (definedNext == undefined)
        each level in levels[land]
            if (level['niveau'] == firstPart+"("+X+";"+(++Y)+")")
                if (hasPrev)
                    |  [] 
                a(href=firstPart+"("+X+";"+(Y)+")") Niveau Suivant >>>
            - Y--
    else
        if (hasPrev)
            |  [] 
        a(href=definedNext) Niveau Suivant >>>

    //- Dims defined -----------------------------------------------

    if (definedDims == undefined)
        each level in levels[land]
            if (level['niveau'] == firstPart+"("+(++X)+";"+Y+")")
                .line
                    a(href=firstPart+"("+X+";"+Y+")") Niveau de Droite >>>
            - X--
            if (level['niveau'] == firstPart+"("+(X-1)+";"+Y+")")
                .line
                    a(href=firstPart+"("+(X-1)+";"+Y+")") <<< Niveau de Gauche
    else
        each level in levels[land]
            if (level['niveau'] == firstPart+"("+(++X)+";"+Y+")")
                if level['dims'] !== undefined
                    each dim in level['dims']
                        .line
                            a(href=dim) < Dimension #{dim} >

        


mixin getPaths(prev, next, trouve, prevDim, nextDim, newTab, definedNext, definedPrev)

    //- Previous Level ---------------------------------------
    - if(prev)
        if(nextDim)
            +getNextDim(prev, next, trouve, prevDim, nextDim, newTab, definedNext, definedPrev)
        else
            if (definedPrev == undefined)
                a(href=firstPart+(endPart-1)) <<< Niveau Précédent
            else
                a(href=definedPrev) <<< Niveau Précédent


    //- Separators --------------------------------------------
    - if(prev && next)
        |  [] 


    //- Next Level --------------------------------------------
    - if(next)
        if(prevDim)
            if (definedPrev == undefined)
                a(href=(newTab.join("."))) <<< Niveau Précédent
            else
                a(href=definedPrev) <<< Niveau Précédent
            |  [] 
            if (definedNext == undefined)
                a(href=firstPart+(endPart+1)) Niveau Suivant >>>
            else
                a(href=definedNext) Niveau Suivant >>>

        else
            if (definedNext == undefined)
                a(href=firstPart+(endPart+1)) Niveau Suivant >>>
            else
                a(href=definedNext) Niveau Suivant >>>


    //- if dim with one element ---------------------------------
    - if (prevDim && nextDim && !next && !prev)
        if (definedPrev == undefined)
            a(href=(newTab.join("."))) <<< Niveau Précédent
        else
                a(href=definedPrev) <<< Niveau Précédent
        |  [] 
        each level in levels[land]
            - ++newTab[newTab.length-1]
            if (level['niveau'] == newTab.join("."))
                if (definedNext == undefined)
                    a(href=newTab.join(".")) Niveau Suivant >>>
                else
                    a(href=definedNext) Niveau Suivant >>>
            - newTab[newTab.length-1]--
    
    //- if forced next in edge of dim ---------------------------------
    - if (!prevDim && !nextDim && !next && prev && definedNext)
        |  [] 
        a(href=definedNext) Niveau Suivant >>>



mixin getNextDim(prev, next, trouve, prevDim, nextDim, newTab, definedNext, definedPrev)
    if (definedPrev == undefined)
        a(href=firstPart+(endPart-1)) <<< Niveau Précédent
    else
        a(href=definedPrev) <<< Niveau Précédent
    |  [] 
    each level in levels[land]
        - ++newTab[newTab.length-1]
        if (level['niveau'] == newTab.join("."))
            if (definedNext == undefined)
                a(href=newTab.join(".")) Niveau Suivant >>>
            else
                a(href=definedNext) Niveau Suivant >>>
        - --newTab[newTab.length-1]


mixin resetToZero(prev, next, trouve, prevDim, nextDim, newTab, definedNext, definedPrev)
    - prev = false
    - next = false
    - prevDim = false
    - nextDim = false
    - definedNext = false
    - definedPrev = false




    