extends ./_layout.pug
include ./includes/_lands

block content
    .text
        h1 Contrées
        br
        br
        p Voici toutes les contrées, Hammerfest et Eternalfest confondues, triées par ordre croissant de difficulté :
        br
        br
        each land in lands
            +genLand("/"+land.slug, land.name, land.difficulty)
