extends _layout

block content
    .text
        h1 Créations
        br
        p Dans ce (magnifique) menu, on va promouvoir la communauté !
        p On pouura trouver des contrées créées de toutes pièces par des non-Eternalfestiens, des musiques à la gloire de notre bonhomme de neige favori, des superbes outils pour nous aider dans nos explorations ou encore des concours génialissimes avec des récompenses à la clé !
        p N'hésite pas à faire un tour :
        ul
            li
                a(href="/creations/niveaux") Les Niveaux
            li
                a(href="/creations/musiques") Les Musiques
            li
                a(href="/creations/concours") Les Concours
            li
                a(href="/creations/outils") Les Outils