extends _layout.pug

block content
    .text
        h1 Hamm4All
        p Voici le nouveau et dernier site d'aide Hammerfest encore mis à jour régulièrement ! Ce site inclut :
        ul
            li Tous les ordres et niveaux d'Hammerfest
            li Différentes pages d'aides pour les nouveaux joueurs
            li Toutes les contrées Eternalfest au fur et à mesure de leur parution et de l'avancée de la communauté
        br
        p To-Do List :
        ul
            li Créer une page de statistiques entre les contrées
            li Ajout des modes de jeux (ninjutsu, cauchemar, etc...) dans règles
            li Compresser les images du site
            li Faire la rubrique Techniques et Ennemis
            li Ajouter les effets et les points sur chaque objets dans les sous-menus "coefficients" et "Familles"
        br
        br
        p Version 0.97 (08/11/2019)
        ul
            li Passage du site en dynamique :
            ul
                li Grandes améliorations d'automatisation et d'ergonomie côté serveur
                li Génération automatique de certaines pages, avec des descriptions faites par yuuty
                li Réagencement du site côté serveur
                li Passage de 2198 templates à 44 :o
                li Création d'un programme pour générer les niveaux
                li Création d'un programme de débug pour éviter les erreurs lors de l'implémentation de nouvelles contrées
            li Ajout de 80Mo de screens supplémentaires
            li Les boutons "Retour" amènent désormais à la page d'avant dans l'URL (si dans une dimension, renvoie au "." d'avant)
            li Suppression (temporaire) de la rubrique "aide", car obsolète maintenant
            li Fusion des onglets "Eternalfest" et "Niveaux" en une seule rubrique "Contrées" : Le jeu Hammerfest se nomme "Officialfest"
            li Les NDJ sont maintenant numérotés de 1 à 366
            li Révision de certaines fonctions de génération
            li Fix et automatisation de quasiment tous les liens faux entre niveaux
            li Personalisation possible de toutes les miniatures de contrées
            li Gestion automatique des liens au sein d'un labyrinthe
            li Meilleur agencement de la page "coefficients"
            li Fix des objets dans "quêtes" qui ramènent désormais à la page "familles"
        br
        br
        p Version 0.96.0 (24/10/2019)
        ul
            li Fix de la chanson "Igor le bonhomme de neige" qui n'était plus accessible
            li Création des templates pour le temple oublié jusqu'à la fin de la contrée
            li Ajout des virtuoses des mausolées (dim 30), mais pas encore gérée correctement
        br
        br
        p Version 0.96 (19/10/2019)
        ul
            li Suppression de l'onglet "Contrées"
            li Suppression du menu "Eternalfest"
            li Migration de l'onglet "Contrées" dans le menu principal
            li Migration des contrées sur la page principale "Eternalfest"
            li Rectification de tous les liens relatifs des contrées Eternalfest
            li Création d'une plus jolie interface pour les grandes contrées comme le Mausolée ou le TO
            li Passage de beaucoup de valeurs absolues en relatives
            li Ajout de quelques autres screens
            li Tri des contrées en 3 catégories : "Contrées", "Aventures" et "Spécial"
            li Suppression du bouton "Retour" si la page est trop petite, pour éviter les superpositions de menus
            li La page de contenu prend toute la page si la largeur de l'écran est inférieure à 1000 pixels
            li Création des templates pour la fin de l'année pour le niveau du jour
            li Nette amélioration de la contruction des labyrinthe, notamment pour le Tunnel Sans Fin du TO
            li Création de quelques fonctions de génération des labyrinthes et des niveaux possédant deux dimensions
            li Création de plein de fonctions pour générer les templates de niveaux
            li Amélioration des designs de certaines pages de miniatures
        br
        br
        p Version 0.95 (03/10/2019)
        ul
            li Création des onglets "Cristaux", "Lettres", "Fonctionnalités" et "Bugs"
            li Correction de bugs divers concernant les contrées Eternalfest
            li Nette amélioration de la page "Coefficients", et ajout des valeurs des objets à points
        br
        br
        p Version 0.94.6 (03/10/2019)
        ul
            li Nettoyage complet du site
            li Optimisations diverses
            li Suppression de l'onglet "Achievements" dû à l'inutilité de celui-ci
            li Remplacement des contrées créés par les joueurs par les liens des blogs de ceux-ci
            li Suppression de la médaille pour indiquer que l'on a l'ordre du niveau
        br
        br
        p Version 0.94.5 (19/09/2019)
        ul
            li Ajout des contrées des trois contrées sorties le 6 Septembre 2019 et des Enfers II
            li Correction de bugs mineurs au niveau de l'affichage et des pages
            li Ajouts d'ordres et de miniatures sur certaines contrées
        br
        br
        p Version 0.94.1 (28/05/2019) :
        ul
            li Ajout d'un menu beaucoup plus ergonomique pour sélectionner les contrées Eternalfest
            li Ajout d'un indicateur de difficulté /10 aux contrées.
            li Ajout de Flatland
        br
        br
        p Version 0.94 (12/05/2019) :
        ul
            li Ajout des contrées "Hammerfest II" et "Alea Jacta Est"
            li Ajout de tous les templates du Mausolée des Virtuoses, et quelques screens supplémentaires
            li Ajout de la page "Remerciements" (non exhaustive)
            li Mise à jour des NDJ jusqu'au 11 mai
            li Fix des couleurs du menu "Objets"
        br
        br
        p Version 0.93.2 (08/05/2019) :
        ul
            li Ajout du Mausolée des Virtuoses (screens faits par yuuty et bc)
            li Mise à jour du Tunnel sans fin (carte quasiment complète)
            li Ajout de Wicked Game (screens faits par yuuty)
            li Migration de "Pads" et "Clés" dans la rubrique "Objets"
            li Le nom d'une dimension est désormais affiché au-dessus de celles-ci.
            li Factorisation du code
        br
        br
        p Version 0.93.1 (24/04/2019) :
        ul
            li Fix des screens de la NCP (yuuty)
            li Ajout des screens maquants dans le Tunnel Sans Fin (yuuty)
            li Ajout des niveaux du jour jusqu'à ce jour (yuuty)
            li Extension de la carte du Tunnel Sans Fin...
            li Dissociation de la Base Secrète de GardienTO et Muttter Land des dimensions du Temple Oublié
            li Ajout des templates de la dimension 2.0.84 du Temple Oublié
            li Fix des templates de G VOMI D FRANBOIZ
            li Suppression de l'onglet "membres"
        br
        p Version 0.93 :
        ul
            li Nouveau système de génération des niveaux : Les miniatures des niveau ont maintenant une petite médaille, signalant que l'ordre est connu (pas encore sur tous les niveaux)
            li Passer le curseur sur une miniatures affiche désormais le nom de la contrée
            li Ajout de "G VOMI D FRANBOIZ"
            li Ajout des NDJ manquants
            li Ajout de quelques nouveaux niveaux dans le Tunnel Sans fin
            li Ajout de la dimension 84 du Temple Oublié
            li /!\ Beaucoup de nouvelles pages ne sont pas encore créées, cela arrivera bientôt
        br
        p Version 0.92 :
        ul
            li Ajout d'une carte (incomplète) du Tunnel Sans Fin dans le Temple Oublié
            li Ajout des derniers niveaux du Sanctuaire des abysses
            li Ajout des dimensions 65 et 89.8 du Temple Oublié
            li Ajout des dimensions "Temple des Epreuves" et pré-Sanctuaire (dont les niveaux ne fonctionnent pas encore, seules les miniatures marchent)
            li Ajout d'une page d'aide, pour ceux qui auraient envie de contribuer au site
            li Ajout des NDJ du 24 mars au 29 mars
        br
        p Version 0.91 :
        ul
            li Ajout d'un "coming soon" sur toutes les pages encore non faites
            li Rectification du menu foireux sur le reste des niveaux d'Officialfest
            li Factorisation du code
            li Création des pages des mois d'avril à décembre pour les Niveaux du jours
        br
        p Version 0.90 :
        ul
            li Ajout de ce changelog et des "versions" du site : pour pas s'y perdre dans ce qu'il reste à faire, et ce qui a déjà été fait
            li Fix du menu foireux dans les niveaux d'Officialfest
            li Fix des mauvaises numérotations dans la dim 33 (fait par Erneraude)
            li Fix des mauvais chemins et des niveaux qui ne s'affichaient pas dans le puits d'Officialfest
            li Ajout des sous menus "musiques", "concours" et "outils" dans "Créations"
            li Ajout des NDJ du 15 mars au 23 mars
            li Rajout du niveau 0 de la Nouvelle Cachette du Plombier qui avait mysérieusement disparu
            li L'onglet "Classement" a été supprimé car il est devenu obsolète, et l'onglet "Hammerfest" également : le bouton "Retour" le remplace désormais
            li Ajout du Sanctuaire des Abysses (jusqu'au niveau 17, merci Bya) pour le Temple Oublié
            li Ajout du concours de Lekapi sur "Concours" (valable jusqu'au 30 mars 2019 !!)
        br
        br
        br
        br
        br
        p Merci à tous ceux qui m'ont aidé à réaliser ce site : yuuty, Erneraude, Eternalfest, Moulins, et à tous les autres qui m'ont permis d'améliorer le site avec des critiques constructives !
            