extends ./_layout.pug
include ./includes/_lands

block content
    .text
        h1=land.name
        br
        br
        p=land.description
        br
        br
        each partie, ind in land.parts
            +genLand("/" + land.slug + "/" + ind, partie['name'], partie['difficulty'])
