extends _layout.pug

block content
    .text
        h1 Les Règles
        p Il y a énormément de règles diverses et toutes sortes de fonctionnalités à connaître pour bien savoir jouer à Hammerfest. Voici toutes les règles :
        ul
            li
                a(href="/regles/cristaux") Les Cristaux
            li
                a(href="/regles/lettres") Les Lettres
            li
                a(href="/regles/fonctionnalites") Les Autres fonctionnalités
            li
                a(href="/regles/bugs") Les Bugs
            