extends _layout.pug
include includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block retour
    a(href=RETOUR) Retour

block content
    .text
        h1 #{lands[land]['name']}
        br
        br
        p #{lands[land]['parts'][part]['description']}
        br
        br
        each func in lands[land]['parts'][part]['functions']
            if func['type'] == 'well'
                +lvl(land, func['arguments']['start'], func['arguments']['end'], func['arguments']['name'])
            else if func['type'] == 'dim'
                if func['arguments']['modifier'] !== undefined
                    +dim(land, func['arguments']['modifier'], func['arguments']['start'], func['arguments']['length'], func['arguments']['name'])
                else
                    +dim(land, "", func['arguments']['start'], func['arguments']['length'], func['arguments']['name'])
            else if func['type'] == 'dimSpecial'
                +dimGenSpecial(land, "", func['arguments']['start'], func['arguments']['levels'], func['arguments']['levelsZero'], func['arguments']['name'])
            else if func['type'] == 'split2Dim'
                +split2Dim(land, func['arguments']['start'], func['arguments']['modifier'], func['arguments']['start'], func['arguments']['length1'], func['arguments']['name1'], func['arguments']['modif1'], func['arguments']['length2'], func['arguments']['name2'], func['arguments']['modif2'])
            else if func['type'] == 'laby'
                if (func['arguments']['modifier'] == ".")
                    +dim(land, "", func['arguments']['lvl'], 0, func['arguments']['name'])
                else
                    +dim(land, func['arguments']['modifier'].substr(0, func['arguments']['modifier'].length-1), func['arguments']['lvl'], 0, func['arguments']['name'])
                +genLaby(land, func['arguments']['startX'], func['arguments']['endX'], func['arguments']['startY'], func['arguments']['endY'], func['arguments']['name'], func['arguments']['lvl'], func['arguments']['modifier'], func['arguments']['levels'])