extends ../_layout.pug

block content
    .text
        h1 Les Ennemis
        p Hammerfest est un jeu riche en ennemis. Ceux-ci ont divers pouvoir, et se comptent au nombre de 18 + 2 boss.
        br
        br
        .float
            ul
                li.paddingFruits
                    a(href="#cerise")
                        img(src="/img/fruits/Cerise1.png", alt="Cerise")
                li.paddingFruits
                    a(href="#orange")
                        img(src="/img/fruits/Orange1.png", alt="Orange")
                li.paddingFruits
                    a(href="#pomme")
                        img(src="/img/fruits/Pomme1.png", alt="Pomme")
                li.paddingFruits
                    a(href="#banane")
                        img(src="/img/fruits/Banane1.png", alt="Banane")
                li.paddingFruits
                    a(href="#citron")
                        img(src="/img/fruits/Citron1.png", alt="Citron")
                li.paddingFruits
                    a(href="#bombino")
                        img(src="/img/fruits/Bombino1.png", alt="Bombino")
                li.paddingFruits
                    a(href="#poire")
                        img(src="/img/fruits/Poire1.png", alt="Poire")
                li.paddingFruits
                    a(href="#grobricot")
                        img(src="/img/fruits/Abricot1.png", alt="abricot")
                li.paddingFruits
                    a(href="#nainbricot")
                        img(src="/img/fruits/Nainbricot1.png", alt="Nainbricot")
                li.paddingFruits
                    a(href="#litchi")
                        img(src="/img/fruits/Litchi1.png", alt="Litchi")
                li.paddingFruits
                    a(href="#litchiNu")
                        img(src="/img/fruits/LitchiNu1.png", alt="LitchiNu")
                li.paddingFruits
                    a(href="#fraise")
                        img(src="/img/fruits/Fraise1.png", alt="Fraise")
                li.paddingFruits
                    a(href="#kiwi")
                        img(src="/img/fruits/Kiwi1.png", alt="Kiwi")
                li.paddingFruits
                    a(href="#bondissante")
                        img(src="/img/fruits/Bondissante1.png", alt="Bondissante")
                li.paddingFruits
                    a(href="#ananas")
                        img(src="/img/fruits/Ananas1.png", alt="Ananas")
                li.paddingFruits
                    a(href="#blob")
                        img(src="/img/fruits/Blob1.png", alt="Blob")
                li.paddingFruits
                    a(href="#scie")
                        img(src="/img/fruits/Scie1.png", alt="Scie")
                li.paddingFruits
                    a(href="#framboise")
                        img(src="/img/fruits/Framboise1.png", alt="Framboise")
                li.paddingFruits
                    a(href="#georges")
                        img(src="/img/fruits/George.png", alt="George")
        br
        br
        br
        br
        h3(id="cerise") Cerise
            img(src="/img/fruits/cerise.svg" alt="Cerise")
        br
        p La cerise est le premier ennemi que l'on recontre dans notre exploration des Cavernes de Hammerfest !