extends ../_layout

block content
    .text
        h1 Créations - Concours
        br
        p Dans cet onglet de menu, il y aura tous les concours organisés par la communauté !
        br
        br
        p Malheureusement, aucun concours n'est disponible pour l'instant !
        br
        br
        .concours
            em
            br