extends ../_layout

block content
    .text
        h1 Créations - Niveaux
        br
        p Dans cet onglet de menu, je mettrai les liens des blogs des niveaux créés par la communauté !
        p Les voici :
        br
        ul
            li
                a(href="https://darkkiehf.blogspot.com/") Blog de darkkie