html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Franklin Gothic Heavy', verdana, "sans-serif", "Comic Sans MS";
    margin: 0;
    padding: 0;
    background-image: url("img/fonds/brique1.png");
    background-position: center;
    background-repeat: repeat;
}

.toc {
    position: fixed;
    right: 0;
    overflow-y: auto;
    white-space: nowrap;
    max-height: 80%;
    font-weight: normal;
    font-size: 11px;
    background-color: RGBa(76, 47, 39, 0.95);
    padding: 2em;
    border: 2px solid black;
}

.toc a:hover {
    color: red;
}

.toc img {
    max-height: 11px;
}

.toc .item-box {
    display: inline-block;
    width: 30px;
    line-height: 11px;
    text-align: center;
}

.text {
    background-image: url("/img/sprites/bordures.png"), url("/img/sprites/bordures.png");
    background-color: rgba(76, 47, 39, 0.95);
    background-position: top left -10px, top right -10px;
    background-repeat: repeat-y, repeat-y;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    width: 58%;
    color: #EEE;
    margin: auto;
    display: flow-root;
    padding-bottom: 50em;
}

table.coff tr{
    padding-top: 10px;
    padding-bottom: 10px;
}

.text table tr th.coeff{
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 32px;
}

th{
    padding-bottom: 20px;
}

.text a:hover {
    color: red;
}

.text img.item, nav img.item {
    max-height: 26px;
    max-width: 34px;
}

.item-box {
    display: inline-block;
    width: 40px;
    line-height: 26px;
    text-align: center;
}

.item-effect{
    display: flex;
    left: 40%;
    text-align: center; 
}

.li {
    font-size: 20px;
    border-bottom: 1px solid black;
}

.quest {
    text-align: center;
    width: 100%;
}

.quest .item-box {
    width: 80px;
}

.quest > .description {
    font-weight: normal;
    font-style: italic;
}

nav > ul {
    margin: 0px;
    padding: 0px;
}

nav > ul > li {
    float: left;
    position: relative;
}

nav li {
    list-style-type: none;
}

.submenu {
    display: none;
}

nav {
    width: 100%;
    background-color: #454258;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: #FED;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
}

.submenu li {
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 14px;
    color: #222538;
    width: 200px;
}

nav > ul > li:hover a {
    padding: 15px 30px 20px 30px;
}

.submenu li:hover a {
    font-weight: bold;
    color: #EEE;
}

.menu-techniques:hover {
    border-top: 5px solid RGBa(240, 20, 30, 1);
    background-color: RGBa(240, 20, 30, 0.1);
}

.menu-regles:hover {
    border-top: 5px solid RGBa(250, 90, 20, 1);
    background-color: RGBa(250, 90, 20, 0.1);
}

.menu-ennemis:hover {
    border-top: 5px solid RGBa(200, 190, 30, 1);
    background-color: RGBa(200, 190, 30, 0.1);
}

.menu-objets:hover {
    border-top: 5px solid RGBa(100, 230, 40, 1);
    background-color: RGBa(100, 230, 40, 0.1);
}

.menu-thanks:hover {
    border-top: 5px solid RGBa(150, 30, 150, 1);
    background-color: RGBa(150, 30, 150, 0.1);
}

.menu-niveaux:hover {
    border-top: 5px solid RGBa(40, 50, 240, 1);
    background-color: RGBa(40, 50, 240, 0.1);
}

.menu-retour:hover {
    border-top: 5px solid RGBa(160, 160, 160, 1);
    background-color: RGBa(160, 160, 160, 0.1);
}

.menu-creations:hover {
    border-top: 5px solid RGBa(110, 190, 110, 1);
    background-color: RGBa(110, 190, 110, 0.1);
}

.menu-techniques .submenu {
    background-color: RGBa(240, 20, 30, 1);
}

.menu-regles .submenu {
    background-color: RGBa(250, 90, 20, 1);
}

.menu-ennemis .submenu {
    background-color: RGBa(200, 190, 30, 1);
}

.menu-objets .submenu {
    background-color: RGBa(100, 230, 40, 1);
}

.menu-thanks .submenu {
    background-color: RGBa(150, 30, 150, 1);
}

.menu-niveaux .submenu {
    background-color: RGBa(40, 50, 240, 1);
}

.menu-creations .submenu {
    background-color: RGBa(110, 190, 110, 1);
}

.menu-retour {
    position: absolute;
    right: 0px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 16px;
    display: block;
}

h3 {
    font-size: 22px;
    text-align: center;
}

.imgNiv {
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
}

.divNiv {
    padding-left: 10px;
    display: inline-block;
}

.parDivNiv {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

iframe {
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

.eloi {
    display: inline-block;
    position: relative;
    left: 70px;
    width: 82%;
}

.Niv {
    display: flex;
}

div.text ul li a {
    padding-right: 20px;
}

em {
    font-family: "Source Code Pro";
    font-weight: bold;
}

div.text table {
    border-collapse: collapse;
}

table.normal{
    border-collapse: collapse;
}

table.normal tr{
    border: 3px solid black;
}

table.normal td{
    border: 3px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

div.text table.coff td, th {
    border: none;
    padding-top: 5px;
    text-align: center;
}

div.quetes table tr td img {
    position: relative;
    top: 10px;
    padding-right: 5px;
}

td.rarity{
    text-align: center;
}

div.quetes {
    display: inline-block;
    background-color: #1EB3EB;
    color: #731;
    text-align: center;
}

a {
    color: green;
}

a:hover img.minia {
    border: 3px dashed #101;
}

.gauche, .droite {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.niveauxEnfers {
    display: flex;
}

.niveaux2D{
    width: 100%;
    display: flex;
}

.mil{
    position: relative;
    left: 45%;
}

.float li a {
    padding-right: 35px;
}

.paddingFruits {
    list-style-type: none;
    float: left;
}

.text img.item {
    max-height: 26px;
    max-width: 34px;
}

p.version {
    position: fixed;
    bottom: 0%;
    left: 96%;
    font-size: 11px;
}

img.ordre {
    display: flex;
    position: relative;
    top: -115px;
    left: 10px;
}

.landGlobal {
    display: inline-block;
    width: 200px;
    border: 2px solid black;
}

.landGlobal a{
    display: block;
}

.landImage {
    display: flex;
    position: relative;
    width: 200px;
}

.landTitle {
    background-color: RGBa(50, 50, 50, 0.8);
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid black;
}

.landTitleWritten{
    text-align: center;
    width: 100%;
}

.laby{
    width: 98%;
}

table.labyrinthe{
    margin: auto;
    padding: 0px;
    border: none;
}

.levelLaby{
    display: inline-block;
}

@media (max-width: 1100px){
    .text, .eter{
        width: 100%;
    }

}

@media (max-width: 1200px){
    .menu-retour {
        display: none;
    }
}

@media (min-width: 1100px){
    .menu-retour {
        position: absolute;
        right: 0px;
    }

}
