extends ../_layout.pug

block content
    .text
        h1 Les Pads
        br
        p A la fin de certaines dimensions, on peut trouver des pads, qui servent à compléter la quête "Meilleur Joueur" pour débloquer le mode Tornade
        p En voici la liste :
        table.normal
            tr
                th Nom
                th Où le trouver ?
                th Nombre de points
            tr
                td
                    img(src="/img/items/1201.svg")
                    | Pad Sounie
                td
                    a(href="/contrees/officialfest/33.3")
                        img(src="/levels/officialfest/min/033.3.png")
                    | Au niveau 33.3
                td 17.000 Points