extends ../_layout.pug

block content
  .toc
    h2 Sommaire
    div
      each quest in Json['quests']
        a(href="#quest" + quest.id)
          .item-box
            img(src="/img/items/" + quest.items[0].id + ".svg")
            | &nbsp;
          = quest.name.fr
        br
  .text
    h1 Les quêtes
    p Certains objets permettent de compléter des quêtes, qui donnent accès à de nouvelles familles, des déguisements, des options et modes de jeu, ainsi que certains bonus divers, comme des parties ou des bonus lors de l'achat de parties, à l'époque où celui ci fonctionnait encore.
    p Depuis le bug de mars 2017, la quête 
      a(href="#quest74") Maître des bombes
      | &nbsp;ne fonctionne plus correctement. En effet, lorsque la quête est validée, elle est sensée contacter un serveur pour ajouter le joueur à la liste des détenteurs de la 
      img(src="/img/items/1237.svg")
      | &nbsp;Neige-o-glycérine (probablement pour le concours des t-shirts). Ce système ne fonctionne aujourd'hui plus, et compléter cette quête aura pour effet d'empêcher de compléter d'autres quêtes à l'avenir, ainsi que de bloquer le meilleur score et le meilleur niveau du joueur. Elle ne débloque plus non plus l'option "Explosifs Instables".
    each quest in Json['quests']
      .quest(id="quest" + quest.id)
        h2=quest.name.fr
        each item in quest.items
          .item-box
            a(href="/objets/familles#item" + item.id)
              img(src="/img/items/" + item.id + ".svg").item
            | ×
            = item.quantity
        p.description
          = quest.desc.fr
        p
          if quest.give && quest.give.tokens
            | Donne 
            = quest.give.tokens
            | &nbsp;parties gratuites.
            br
          if quest.give && quest.give.bank
            | Les achats de parties rapportent +
            = quest.give.bank
            | % parties.
            br
          if quest.give && quest.give.mode
            | Débloque le mode "
            strong=quest.give.mode
            |".
            br
          if quest.give && quest.give.option
            | Débloque l'option "
            strong=quest.give.option
            |".
            br
          if quest.give && quest.give.log
            | Active le logueur.
            br
          if quest.give && quest.give.families
            each family in quest.give.families
              if family.name
                | Débloque la famille "
                a(href="/objets/familles#family" + family.id)
                  = family.name.fr
                | ".
                br
              else if family.id >= 5000
                | Permet d'ouvrir une serrure.
                br
          if quest.remove && quest.remove.families
            each family in quest.remove.families
              if family.name
                | Retire la famille "
                a(href="/objets/familles#family" + family.id)
                  = family.name.fr
                | ".
                br
          if !quest.give && !quest.remove
            | Cette quête n'a aucun effet.
            br
      hr
