extends ../_layout.pug

block content
    .text
        h1 Les techniques de base
        p Voici les techniques de base, que quasiment tout le monde doit connaître et savoir appliquer pour bien jouer au jeu.
        ul
            li
                a(href="/techniques/cacheEnnemi") Théorème du Cache-Ennemi
            li
                a(href="/techniques/tiersEtage") Technique du tiers-étage
            li
                a(href="/techniques/doubleSaut") Technique du double-saut
            li
                a(href="/techniques/sauteMouton") Technique du saute-mouton
            li
                a(href="/techniques/bombeEnDiagonale") Envoyer un bombe en diagonale
            
