extends ../_layout.pug

block content
    .text
        h1 Les Bugs
        br
        p Bien qu'Hammerfest soit un des meilleurs jeux que cette Terre n'ait jamais abrité, il est cependant très riche en bugs de diverses sortes. Ici sont répertoriés tous les bugs connus et s'ils ont un fix sur Eternalfest.
        table.normal
            thead
                td Description
                td BugFix
            tr
                td Le fait d'enlever la carapace d'un litchi casse obligatoirement l'ordre.
                td Oui
            tr
                td Possibilité de se bloquer au dessus d'un vortex latéral
                td Oui
            tr
                td L'obscurité est diminuée deux fois en multijoueur
                td Oui
            tr
                td Bug des paliers de points consécutifs
                td Oui
            tr
                td Plus les parties sont longues, plus le jeu lag
                td Oui
            tr
                td Les fraises peuvent rater leur tir entre elles
                td Oui
            tr
                td Les rayons ne fonctionnent pas au respawn
                td Oui
            tr
                td Les rayons et TP ne fonctionnenet pas en Y=0
                td Oui
            tr
                td Les fruits sont coincés quand ils sont dans des cases de 1 de large
                td Oui
            tr
                td Les scies et les blobs ont parfois un rollback en haut du niveau
                td Oui
            tr
                td Si on fait CRISTAL à la frame exacte où une framboise se téléporte, les pépins partent dans toutes les directions
                td Non
            tr
                td Si la flamme va très vite, elle peut se freeze complètement
                td Non
            tr
                td Boucle de l'animation du changement de déguisement si on change son déguisement au passage d'un rayon ou en tapant dans une bombe
                td Non
            tr
                td Possibilité de traverser la boule de feu si on est étourdi en étant en l'air
                td Non
            tr
                td Si une bombe verte est posée au bord d'une plate-forme, celle-ci n'explose pas
                td Non
            tr
                td Les scies peuvent parfois traverser une Plate-forme après avoir été gelée
                td Non
            tr
                td Si un script fait disparaître une plate-forme, les fruits ne le détectent pas et tombent
                td Non
            tr
                td Les fruits tombent si le VITE se déclenche pendant qu'ils sautent
                td Non
            tr
                td Très rarement, les bombinos peuvent faire une sorte de surfing
                td Non
            tr
                td Un rayon Jaune-Orange sur 1x1 ne fonctionne pas
                td Non
