extends ../_layout.pug

block content
    .text
        h1 Les Cristaux
        br
        p Les cristaux sont probablement les objets les plus communs et les plus importants. Ils tombent du ciel à la mort d'un ennemi, et donnent tous des points, dont le montant augmente selon le nombre d'ennemis tué par une même bombe.
        p Voici le tableau comparatif des cristaux :
        table.normal
            thead
                td Cristal
                td Points
                td Ennemis tués
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal1.png")
                td 500
                td 1
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal2.png")
                td 2,000
                td 2
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal3.png")
                td 4,500
                td 3
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal4.png")
                td 8,000
                td 4
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal5.png")
                td 12,500
                td 5
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal6.png")
                td 18,000
                td 6
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal7.png")
                td 24,500
                td 7
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal7.png")
                td 32,000
                td 8
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal7.png")
                td 40,500
                td 9
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal7.png")
                td 50,000
                td 10+
        p La formule pour connaître le nombre de points qu'un cristal rapporte est n²*500, où n est le nombre d'ennemis tués d'un coup.