extends ../_layout.pug

block content
    .text
        h1 Les Autres Fonctionnalités
        br
        h3 Les Ordres
        p Les ordres sont un concept très important qu'il faut saisir vite en début de jeu.
        p Chaque niveau contenant plus de deux ennemis possède un ordre pour tuer les ennemis prédéfini et fixe. Cet ordre, s'il est respecté, fera tomber un cristal géant à la fin du niveau qui tombe au centre du niveau et passe à travers les plate-formes. Les points que donne ce gros cristal est égal à n²*2500, où n est le nombre d'ennemis initiaux dans le niveau. Autrement dit :
        table.normal
            thead
                td Cristal
                td Points
                td Ennemis
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal2.png")
                td 10,000
                td 2
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal3.png")
                td 22,500
                td 3
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal4.png")
                td 40,000
                td 4
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal5.png")
                td 62,500
                td 5
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal6.png")
                td 90,000
                td 6
            tr
                td
                    img(src="/img/sprites/cristaux/Cristal7.png")
                td 122,500
                td 7
            tr
                td
                    img(src="/img/items/1009.svg")
                td 160,000
                td 8
            tr
                td
                    img(src="/img/items/1010.svg")
                td 202,500
                td 9
            tr
                td
                    img(src="/img/items/1011.svg")
                td 250,000
                td 10+